.error{
  color: #f00;
}

/*.error-length {
  color: red;
}

.error-paragraph {
  color: blue;
}

.error-personal-speech {
  color: orange;
}

.error-subject-verb-predicate {
  color: yellowgreen;
}

.error-repeated-words {
  color: crimson;
}

.error-comma{
  color: lightslategray;
} 

.error-subject-verb-proximity{
  color: darkslategray;
}*/

.warning {
  color: goldenrod;
}

.error:before {
  display: inline-block;
  margin-right: 5px;
  font-size: 1.2em;
  line-height: 1;
  vertical-align: middle;
  color: #f00;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px #ddd;
  transform: translateY(-1px);
}

.logo-container {
  display: flex;
  justify-content: center;
  max-width: 250px; /* Defina o tamanho máximo desejado para a imagem */
  margin: 0 auto; /* Centraliza horizontalmente a div */
  padding-top: 0px; /* Define o espaçamento superior desejado */
  padding-bottom: 0px; /* Define o espaçamento inferior desejado */
}

