.error-length {
  color: red;
}

.error-paragraph {
  color: blue;
}

.error-personal-speech {
  color: orange;
}

.error-subject-verb-predicate {
  color: yellowgreen;
}

.error-repeated-words {
  color: crimson;
}

.error:before {
  display: inline-block;
  margin-right: 5px;
  font-size: 1.2em;
  line-height: 1;
  vertical-align: middle;
  color: #f00;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px #ddd;
  transform: translateY(-1px);
}
